  <div id="messages">
    <%= render @messages %>
    <!-- チャット画面 -->
  </div>
  <div id="form">
    <form>
      <label>Send Message</label><br>
      <input type="text" data-behavior="message_sender">
    </form>
  </div>
