$sidebar_width: 200px;

body {
  display: flex;
}

#wrapper {
  font-size: 20px;
}

#sidewrapper {
  width: $sidebar_width;
  height: 100vh;
  float: left;
  background-color: rgb(78, 58, 76);
  color: #ffffff;
  padding: 10px;
  overflow: scroll;
  scroll-behavior: smooth;
}

#chat {
  margin: 0 50px;
  height: 100vh;
  overflow-y: scroll;
  scroll-behavior: smooth;
  flex-direction: column;
}

#messages {
  height: calc(100% - 100px);
  overflow-y: scroll;
  padding: 0 50px;
}

#form {
  height: 100px;
  padding: 0 50px;
  background-color: #ffffaa;
}

#messages {
.box{
margin-bottom: 20px;
}
  .sender {
  color: #0074df;
  }

  .message {
    padding-left: 20px;
    font-size: 24px;
  }
}
